KİRA TAHMİN UYGULAMASI

In [122]:
import pandas as pd
import numpy as np
import os

In [123]:
def drop_columns(df, cols):
    """Belirtilen sütunları DataFrame'den siler."""
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [124]:
# CSV DOSYASI OKUMA
csv_path = "C:/Users/vose_/OneDrive/Desktop/MakineÖğrenmesi/Kira_Tahmin_Uygulaması/hepsiemlak/hepsiemlak.csv"
df = pd.read_csv(csv_path)

files = os.listdir("hepsiemlak")
df = pd.concat([pd.read_csv(f"hepsiemlak/{file}") for file in files], ignore_index=True)

##Kullanılmayacak Sütunların Silinmesi

In [126]:
cols = ["photo-count","list-view-date","eids-badge__description","he-lazy-image src","eids-badge__label","list-view-location","img-wrp href","he-lazy-image src 2","img-wrp href 2","he-lazy-image src 3","listing-card--owner-info__firm-name","listing-card--owner-info__name","list-view-header"]
drop_columns(df,cols)
print(df.info())

Bir hata oluştu: "['photo-count'] not found in axis"
Bir hata oluştu: "['list-view-date'] not found in axis"
Bir hata oluştu: "['eids-badge__description'] not found in axis"
Bir hata oluştu: "['he-lazy-image src'] not found in axis"
Bir hata oluştu: "['eids-badge__label'] not found in axis"
Bir hata oluştu: "['list-view-location'] not found in axis"
Bir hata oluştu: "['img-wrp href'] not found in axis"
Bir hata oluştu: "['he-lazy-image src 2'] not found in axis"
Bir hata oluştu: "['img-wrp href 2'] not found in axis"
Bir hata oluştu: "['he-lazy-image src 3'] not found in axis"
Bir hata oluştu: "['listing-card--owner-info__firm-name'] not found in axis"
Bir hata oluştu: "['listing-card--owner-info__name'] not found in axis"
Bir hata oluştu: "['list-view-header'] not found in axis"
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         432 non-null    object
 1   city             432 non-null    object
 2   district         432 non-null    object
 3   neighborhood     432 non-null    object
 4   rooms            432 non-null    float64
 5   living_room      432 non-null    float64
 6   area             432 non-null    float64
 7   age              432 non-null    float64
 8   floor            432 non-null    float64
 9   price            432 non-null    float64
 10  img-link href    432 non-null    object
 11  list-view-price  432 non-null    object
 12  celly            432 non-null    object
 13  celly 2          432 non-null    object
 14  celly 3          432 non-null    object
 15  celly 4          432 non-null    object
dtypes: float64(6), object(10)
memory usage: 108.1+ KB
None

In [127]:
print(df.columns.tolist())

df["location"] = df["img-link href"].apply(lambda x: x.split("/")[2])
df["city"] = df["location"].str.split("-").str[0]
df["district"] = df["location"].str.split("-").str[1]
df["neighborhood"] = df["location"].str.split("-").str[2:-1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: "_".join(x))
print(df["city"].unique())
print(df["district"].unique())
print(df["neighborhood"].unique())

['location', 'city', 'district', 'neighborhood', 'rooms', 'living_room', 'area', 'age', 'floor', 'price', 'img-link href', 'list-view-price', 'celly', 'celly 2', 'celly 3', 'celly 4']

AttributeError: 'float' object has no attribute 'split'

In [128]:
df["celly"] = df["celly"].apply(lambda x: x.replace("Stüdyo","1+0"))
df["celly"] = df["celly"].apply(lambda x: x.replace("\n",""))
df["rooms"] = df["celly"].apply(lambda x: x.split("+")[0]).astype(int)
df["living_room"] = df["celly"].apply(lambda x: x.split("+")[1]).astype(int)

AttributeError: 'float' object has no attribute 'replace'

In [120]:
drop_columns(df, ["celly"])

In [121]:
df["celly 2"] = df["celly 2"].apply(lambda x: x.replace(".",""))
df["area"] = df["celly 2"].apply(lambda x: x.split(" ")[0]).astype(int)

AttributeError: 'float' object has no attribute 'replace'

In [78]:
drop_columns(df, ["celly 2"])

In [79]:
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("Sıfır Bina","0"))
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("\n"," "))
df["age"] = df["celly 3"].apply(lambda x: x.split(" ")[0]).astype(int)

In [80]:
print(df["age"].unique())

[  0  18  20   7  32   6   4  22  30  27   3   2  40  16  35  25   1   8
  15  10  45  11  23   5  50  28   9  31  38  26  12  29  14  36  37  39
  13  17  24 110  21  47  42  19  34]

In [81]:
drop_columns(df, ["celly 3"])

In [82]:
replace_dict = {
    "Kot 2": "-2. Kat",
    "Kot 1": "-1. Kat",
    "Kot 3": "-3. Kat",
    "Zemin Kat": "0. Kat",
    "Zemin": "0. Kat",
    "Yüksek Giriş": "1. Kat",
    "Giriş Kat": "0. Kat",
    "Giriş Katı": "0. Kat",
    "Ara Kat": "3. Kat",
    "Bahçe Katı": "0. Kat",
    "Çatı Katı": "5. Kat",
    "Çatı Dubleksi": "5. Kat",
    "En Üst Kat": "5. Kat",
    "En Alt Kat": "0. Kat",
    "Villa Katı": "0. Kat",
    "Bodrum": "0. Kat",
    "Teras Katı": "5. Kat",
    "Tripleks": "0. Kat",
    "Asma Kat": "1. Kat",
    "Bodrum ve Zemin Kat": "0. Kat",
    "Yarı Bodrum": "-1. Kat",
    "21 ve üzeri": "21. Kat",
    }

df["celly 4"] = df["celly 4"].replace(replace_dict.keys(), replace_dict.values())
df["celly 4"].dropna(inplace=True)
df["floor"] = df["celly 4"].apply(lambda x: x.split(".")[0]).astype(int)
print(df["floor"].unique())
drop_columns(df, ["celly 4"])

[ 2  1  8  0 10  3  5  4 -1  7  6 17  9 13 -3 11 12 -2 15 14]

In [83]:
print(df.info())  # DataFrame'in son halini görüntüle

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    432 non-null    object
 1   list-view-price  432 non-null    object
 2   location         432 non-null    object
 3   city             432 non-null    object
 4   district         432 non-null    object
 5   neighborhood     432 non-null    object
 6   rooms            432 non-null    int64
 7   living_room      432 non-null    int64
 8   area             432 non-null    int64
 9   age              432 non-null    int64
 10  floor            432 non-null    int64
dtypes: int64(5), object(6)
memory usage: 37.3+ KB
None

In [85]:
df["list-view-price"] = df["list-view-price"].astype(str).apply(lambda x: x.replace(".",""))
df["price"] = df["list-view-price"].astype(int)

In [93]:
print(df["price"].unique)  # DataFrame'in son halini görüntüle

<bound method Series.unique of 0      18000
1      32000
2      20000
3      29990
4      50000
       ...
427    18000
428    28000
429    17000
430    45000
431    27000
Name: price, Length: 432, dtype: int64>

In [97]:
drop_columns(df, ["list-view-price"])
drop_columns(df, ["img-link href"])

Bir hata oluştu: "['list-view-price'] not found in axis"

In [98]:
print(df.columns)  # DataFrame'in son halini görüntüle

Index(['location', 'city', 'district', 'neighborhood', 'rooms', 'living_room',
       'area', 'age', 'floor', 'price'],
      dtype='object')

In [99]:
df.to_csv("C:/Users/vose_/OneDrive/Desktop/MakineÖğrenmesi/Kira_Tahmin_Uygulaması/hepsiemlak/data.csv", index=False)